<footer>
    <section>
        <ul>
            <li class="toUpper f-w-600">explore space</li>
            <li class="f-w-300">Planets & Other Worlds</li>
            <li class="f-w-300">Space Missions</li>
            <li class="f-w-300">Night Sky</li>
            <li class="f-w-300">Space Policy</li>
            <li>For Kids</li>
        </ul>
    </section>
    <section class="social">
        <div class="p-48">
            <a href="">
                <img class="logo-3S" src="assets/TPS_Logo_3Stack-White.svg" alt="">
            </a>
            <p class="f-w-300 f-s-18">Empowering the world's citizens to advance space science and exploration.</p>
        </div>
        <div class="social-list">
            <ul class="flex">
                <li>
                    <a href="">
                        <img src="https://api.iconify.design/fa/facebook.svg?color=white&width=20&height=20" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="https://api.iconify.design/fa6-brands/twitter.svg?color=white&width=20&height=20" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="https://api.iconify.design/fa/rss.svg?color=white&width=20&height=20" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="https://api.iconify.design/fa/youtube.svg?color=white&width=20&height=20" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="https://api.iconify.design/fa/linkedin.svg?color=white&width=20&height=20" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="https://api.iconify.design/fa/instagram.svg?color=white&width=20&height=20" alt="">
                    </a>
                </li>
            </ul>
        </div>

    </section>
    <section class="about-us"></section>
</footer>
