<main>

    <section class="video-banner">
        <div class="video-textnform">

            <h1>ADVANCE
                <span><br></span>
                SPACE EXPLORATION</h1>
            <p>Learn about our mission to increase discoveries in our Solar System, elevate the search for life beyond our planet, and decrease the risk of Earth being hit by an asteroid.</p>
            <form class="form" action="Subscribe">
                    
                    <input type="emai" id="email" name="email" placeholder="Enter email address">
                    <input type="submit" id="submit" name="submit" value="subscribe">
                    
            </form>
            <p class="p-form">
                Sign up for updates, weekly tools, and exclusive opportunities to support space exploration. You may opt out any time. View our 
                <a href="https://www.planetary.org/privacy-policy">Privacy Policy</a>
                . The Planetary Society is a registered nonprofit organization.
            </p>
        </div>
        <video autoplay loop muted  playsinline src="assets/home-highlights.mp4"></video>
         
    </section>
    
    <!-- <div class="clear"></div> -->
    
    <div>
        <div class="fk-btn">
            <div class="links flex">
                <a href="">Become A Member</a>
                <img class="icon" src="https://api.iconify.design/fa6-solid/circle-arrow-right.svg?color=white&width=20&height=20" alt="">
            </div>
            <div class="links border-xs flex">
                <a href="">LightSail Legacy</a>
                <img class="icon" src="https://api.iconify.design/fa6-solid/circle-arrow-right.svg?color=white&width=20&height=20" alt="">
            </div>
            <div class="links flex">
                <a href="">Take Action</a>
                <img class="icon" src="https://api.iconify.design/fa6-solid/circle-arrow-right.svg?color=white&width=20&height=20" alt="">
            </div>
        </div>
    </div>  
        
    <section class="home-cards">
        <h2 class="cards-title toUpper">featured stories</h2>
        <div class="cards-container">
                
            <app-cards class="test" cardTitle="OSIRIS-REx returns sample from asteroid Bennu to Earth" cardSection="OSIRIS-REx" cardImg="assets/osiris-rex-landed-parachute.jpg" ></app-cards>
            <app-cards cardTitle="The Planetary Society and The Eclipse Company unveil unique eclipse map" cardSection="Solar Eclipse" cardImg="assets/eclipse-map-wide.jpg" ></app-cards>
            <app-cards cardTitle="The boy who named Bennu is now an aspiring astronaut" cardSection="OSIRIS-REx" cardImg="assets/mike-puzio-toy-rocket.jpg" ></app-cards>
            <app-cards cardTitle="The Psyche launch and its journey to a metal world: What to expect" cardSection="Psyque" cardImg="assets/psyche-new-illustration.jpg" ></app-cards>
            <app-cards cardTitle="What’s up in the night sky: October 2023" cardSection="Night Sky" cardImg="assets/evening-2023015-mars-orion.jpg" ></app-cards>
            <app-cards cardTitle="2023 NASA Innovative Advance Concepts Symposium: Part 1" cardSection="Planetary Radio" cardImg="assets/titanflyer.jpg" ></app-cards>
            
        </div>
        <div class="more-btn flex">
            <a class="toUpper" href="">More articles</a>
        </div>
    </section>


</main>


