<header class="flex">
    <div class="logo-mobile">
        <img src="assets/TPS_Logomark-White.svg" alt="The Planetary Society logo">
    </div>
    <div class="menu-items flex">
        <ul class="flex">
            <li class="padding-r-2em">
                <a class="icon-heart flex" href="">
                    <p class="toUpper">donate</p>
                </a>
            </li>
            <li class="padding-r-2em">
                <a class="icon-rocket flex" href="">
                    <p class="toUpper">join</p>
                </a>
            </li>
            <li>
                <a class="icon-bars flex" href="">
                    <p class="toUpper">menu</p>
                </a>
            </li>
        </ul>
    </div>
</header>
